@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Balsamiq+Sans:wght@400;700&display=swap');

*{
    margin-left: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Assistant;
    color: black;
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    min-height: 100vh;
}

#main-logo, #main-menu {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

li{
    color: white;
    border: solid grey;
    border-radius: 10px;
    margin: 10px;
    
}

.home-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius:5px;
    padding: 50px;
    text-align: center; 
}  
.btn-primary.custom-btn {
    background-color: grey;
    border-color:black;
   
}
h1, h3 {
    border: solid grey;
    border-radius: 5px;
    padding: 10px;
    color: rgb(235, 235, 235);
}

#options {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
    margin: 20px 0;
}
.container {
    margin-top:10px;
    width: 800px;
    max-width: 80%;
    background-color: grey;
    border-radius:5px;
    padding: 10px;
    text-align: center; 
}
.start-btn {
    font-size: xx-large;
    padding: 10px 20px;
    
}

#hint-container {
    margin-top: 50px;
    margin-bottom: 20px;
    }
#hint {
    margin-top: 20px;
    margin-bottom: 20px;
}
.score-container {
    display: flex;
    justify-content: center;
    
    text-align: center;
    color: whitesmoke;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;
}
.btn {
    background-color: white;    
}
.btn:hover {
    background-color:rgb(168, 168, 168);
}

.btn.correct {
    background-color: green;
    border: solid white;
}
.btn.wrong {
    background-color: rgb(194, 2, 2);
    border: solid white;
}

.hide {
    display: none;
}
.hint-shown {
    border: solid whitesmoke;
    color: whitesmoke;
    
}

.return-btn {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    border: none;
    text-align: center;
}

input::placeholder {
    color: #aaa;
    
}

#player {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

