@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Balsamiq+Sans:wght@400;700&display=swap');

*{
    margin-left: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Assistant;
    color: black;
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
    min-height: 100vh;
}

/*Main Logo and menu style*/
#main-logo, #main-menu {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

li{
    color: white;
    border: solid grey;
    border-radius: 10px;
    margin: 10px;
    
}
/*Container with all main body elements*/
.home-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border-radius:5px;
    padding: 50px;
    text-align: center; 
}  
#question {
    color: whitesmoke;
    font-size: large;
    margin: 10px;
}
.btn-primary.custom-btn {
    background-color: grey;
    border-color:black;
   
}

h1, h3 {
    border: solid grey;
    border-radius: 5px;
    padding: 10px;
    color: rgb(235, 235, 235);
}
/*image blur in question*/
.main-image{
    filter: blur(30px);
}
#main-image {
    padding: 50px;
    margin-top: -45px;
    margin-bottom: -25px;
}
/*buttons for answers in the quiz*/
#options {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
    margin: 20px 0;
}
/*style for container on the celebrity page*/
.container {
    margin-top:10px;
    width: 800px;
    max-width: 80%;
    background-color: grey;
    border-radius:5px;
    padding: 10px;
    text-align: center; 
}

/*hint container*/
#hint-container {
    margin-top: 50px;
    margin-bottom: 20px;
    }
   
#hint {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Score Container for the points when right answer selected*/
.score-container {
    display: flex;
    justify-content: center;
    
    text-align: center;
    color: whitesmoke;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
    margin: 20px 0;
}
.btn {
    background-color: white;    
}
.btn:hover {
    background-color:rgb(168, 168, 168);
}

/*btn for when the correct answer selected */
.btn.correct {
    background-color: green;
    border: solid white;
}
/*btn for when the wrong answer selected */
.btn.wrong {
    background-color: rgb(194, 2, 2);
    border: solid white;
}
/*to stop the points repeating after every click*/
.disable {pointer-events: none;}

.hide {
    display: none;
}
.hint-shown {
    border: solid whitesmoke;
    color: whitesmoke;
    
}
/*Return button to restart the quiz once finished*/
.return-btn {
    margin-top: 20px;
}

/*POINTS PAGE - once quiz is finished */
input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    border: none;
    text-align: center;
}
/*place holder text*/
input::placeholder {
    color: grey;
    
}
/*inout box for playen name*/
#player {
    margin-bottom: 50px;
    width: 100%;
    outline: none;
}

/*players list on High Score page*/
.players {
    font-size: larger;
    list-style: none;

}
